{% extends 'template_view.twig' %}

{% block content %}
    <section class="error_sec">
        <section class="h1">{{ title }}</section>
        <p class="error_text">Запрашиваемый вами документ не найден</p>
        <p>Проверьте правильность набранного адреса или <a href="/">перейдите на главную страницу</a></p>
    </section>
{% endblock %}
