{% extends 'template_view.twig' %}

{% block content %}

        <h1 class="about_title">
            <div>{{ title }}</div>
        </h1>
        <div class="about_text_wrap">

            <p><span>elDelta</span> — один из ведущих интернет-магазинов компьютерной техники в России. Наша компания имеет
                надежные связи с поставщиками и производителями с мировыми именами.</p>
            <p>Деятельность нашей компании всегда была направлена на удовлетворение потребностей каждого нашего
                покупателя, независимо от его социального статуса и финансовых возможностей.</p>
            <p>В нашем магазине появляются самые интересные, самые свежие, самые актуальные новинки мировой электронной
                промышленности. Именно поэтому мы стараемся продавать компьютерную технику как можно дешевле, как можно
                большему количеству людей.</p>
            <p>Компьютерный магазин <span>elDelta</span> осуществляет свою деятельность начиная с 2005 года.
                Наша компания известна благодаря профессиональной поддержке и ведению заказов.</p>
            <p>В нашем ассортименте вы сможете найти компьютерную технику для решения задач любой сложности.</p>
        </div>

{% endblock %}

