{% extends 'template_admin.twig' %}

{% block content %}

<main>
    <div class="jumbotron">
        <h1>Привет, администратор!</h1>
        <p>Удачного тебе администрирования!</p>
    </div>
</main>

{% endblock %}

{% block scripts %}
{% endblock %}