<header class="banner">
    <div class="banner_logo">
        <a href="/">
            <img src="/img/logo/main.png" alt="">
        </a>
        <span class="banner_seo_text">Магазин компьютерной техники elDelta</span>
    </div>
    <div class="banner_title">
        Магазин компьютерной техники
    </div>
    <div class="banner_phone">
        <span>8(495)</span>
        <span>546-65-90</span>
    </div>
    <div class="header_cart">
        <span>Товаров в корзине: </span><span id="amount">{{ total_amount }}</span>
        <br/>
        <span>На сумму: </span><span id="price">{{ total_price }} руб.</span>

        <div class="header_cart_submit_block">
            <button type="button" title="Корзина" class="header_cart_submit_btn">
                <a class="header_cart_submit_link" href="/cart" >Перейти в корзину</a>
            </button>
        </div>
    </div>
</header>
